<h1 class="mar-b-xs">Floating Action Button (FAB)</h1>
<h2 class="txt-gray-5 mar-t-0">For primary actions</h2>
<h2>Demo</h2>
<code-sample>
  <button kind="fab" title="Paint"><mw-icon name="palette"></mw-icon></button>
</code-sample>
<h2>API</h2>
<h3>Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>button</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">Icon with or without text</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>kind</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">
      <ul type="none">
        <li>fab</li>
      </ul>
    </td>
    <td colspan="6">
      <p>Defines the kind of button as floating action button. See <a href="https://m3.material.io/components/buttons/guidelines" target="_blank">Material Buttons</a> for guidelines.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"><code>scale</code></td>
    <td colspan="2">
      <ul type="none">
        <li>sm</li>
        <li>lg</li>
      </ul>
    </td>
    <td colspan="6">Scales the button size. Medium is the implied default and matches the size of form controls. Small is recommended for menus, table rows, and other space-constrained designs.</td>
  </tr>
  <tr>
    <td colspan="2"><code>title</code></td>
    <td colspan="2">
      Text
    </td>
    <td colspan="6">If the FAB only has an icon, title must be set to a helpful label.</td>
  </tr>
  </tbody>
</table>
<p>For <span class="fnt-bold">&lt;a&gt;</span> only:</p>
<table layout="fixed">
  <tbody>
  <tr>
    <td colspan="2"><code>role</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">button</td>
    <td colspan="6">Styles the link as a button. Use this instead of <code>&lt;button&gt;</code> when your use case needs a real link.</td>
  </tr>
  </tbody>
</table>
<h2>Guidelines</h2>
<h3>Button or link?</h3>
<p>If the action navigates to a new url, strive to use regular <a href="/link">links</a>, but if the link needs to look like a button then add the <code>role="button"</code> attribute. It's important that for these cases an actual link is used so the user can
  <kbd>cmd + click</kbd> or copy the link. If the action does not navigate the user to a new url, then use a regular button.</p>
<h3>Accessibility</h3>
<p>The remove button should have an <code>aria-label</code> attribute and disabled buttons should have <code>aria-disabled="true"</code> and disabled link buttons should also have <code>tabindex="-1"</code> to prevent activation by keyboard or assistive tech.</p>
