/* Base code styles */
code,
pre {
  border-radius: var(--mw-border-radius-md);
  background-color: var(--m-color-gray-1);
  color: var(--m-color-red-3);
}

/* Inline code */
code {
  padding: 1px 3px;
}

/* Multi-line code */
pre {
  margin: 0;
  padding: var(--mw-space-xs) var(--mw-space-sm);
}

