/* Base dialog styles */
dialog {
  border: none;
  padding: var(--mw-space-md);
  background-color: var(--mw-color-surface-container-high);
  border-radius: var(--mw-corner-extra-large);
  min-width: 280px;
  max-width: 560px;
  max-height: 80%;

  &::backdrop {
    background-color: #00000050;
  }

  /* Headline */
  & [slot=headline] {
    padding-bottom: var(--mw-space-sm);
  }

  /* Content */
  & [slot=content] {
    padding: 0;
  }

  /* Actions */
  & [slot=actions] {
    display: flex;
    justify-content: flex-end;
    padding-top: var(--mw-space-md);
  }

  /* Close button */
  & button[slot=close][type=remove] {
    position: absolute;
    top: 0;
    right: 0;
  }
}
