m-accordion {
  display: block;

  & > details {
    border-top: 3px solid var(--m-color-gray-2);

    &:last-child { border-bottom: 3px solid var(--m-color-gray-2) }

    &[open] > summary:after {
      transform: rotate(180deg);
      transition: transform 250ms;
    }

    & > summary {
      padding: var(--mw-space-sm) var(--mw-space-xl) var(--mw-space-sm) 0;
      position: relative;

      &:focus-visible { outline: 2px solid var(--m-color-focus) }

      &:after {
        font-family: 'mw-icons';
        content: 'expand_more';
        position: absolute;
        top: var(--mw-space-sm);
        right: var(--mw-space-sm);
        transform: rotate(0deg);
        transition: transform 250ms;
      }
    }
  }
}
