/* Base tabs styles */
mw-tabs {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--mw-color-outline-variant);
  background-color: var(--mw-color-surface);

  /* Ordinal */
  &[ord=primary] > :is(a, button) {
    &::after {
      width: calc(97% - calc(var(--mw-space-lg) * 2));
      margin: auto;
      height: 3px;
      border-radius: 3px 3px 0 0;
    }
  }

  &[ord=secondary] > :is(a, button) {
    &::after {
      height: 2px;
    }
  }

  /* Scrolling tabs */
  &[scrollable] {
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar { display: none }
  }

  /* Base tab styles */
  & > :is(a, button) {
    all: unset;
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    height: 48px;
    color: var(--mw-color-on-surface-variant);
    font-size: var(--mw-font-size-sm);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    & mw-icon {
      font-size: var(--m-font-size-lg);
    }

    &:has(mw-icon) {
      height: 64px;
    }

    &:focus-visible { outline: 2px solid var(--m-color-focus) }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
    }

    &[aria-selected=true] {
      color: var(--mw-color-primary);

      &::after { background-color: var(--mw-color-primary) }
    }

    /* Hover state */
    &:not([disabled]):hover {
      background-color: var(--mw-color-on-surface);
    }

    /* Disabled state */
    &[disabled] {
      color: var(--m-color-disabled-fg);
      cursor: default;
    }
  }
}
