/* Base table styles */
table {
  width: 100%;
  border: 1px solid var(--mw-color-outline);
  border-radius: var(--mw-corner-extra-large);
  overflow: hidden;
  border-spacing: 0;

  /* Table header */
  & thead {
    text-align: center;

    & th {
      background-color: var(--mw-color-surface);
      color: var(--mw-color-on-surface);

      /* Sortable columns */
      &[aria-sort] button {
        all: unset;
        display: inline-flex;
        cursor: pointer;

        &::after { font-size: 0.8em; padding-left: var(--mw-space-xs) }
      }

      &[aria-sort=ascending] button:after { content: '↑' }
      &[aria-sort=descending] button:after { content: '↓' }
    }
  }

  & th, & td {
    padding: var(--mw-space-sm) var(--mw-space-md);
    border-bottom: 1px solid var(--mw-color-outline);
  }

  & th:not(:last-of-type), & td:not(:last-of-type) {
    border-right: 1px solid var(--mw-color-outline);
    border-bottom: 1px solid var(--mw-color-outline);
  }

  & tbody tr:last-of-type td {
    border-bottom: none;
  }

  & td { vertical-align: top; padding: var(--mw-space-sm) var(--mw-space-md) }

  /* Table layout */
  &[layout=fixed] { table-layout: fixed }

  /* Striped rows */
  &[striped] > tbody tr:nth-of-type(odd) { background-color: var(--m-color-gray-2) }
}



