<!DOCTYPE html>
<html lang="en">
<head>
  {{> ga}}
  <title>Mweb</title>
  <link rel="stylesheet" href="{{localUrl}}.css">
  <script defer src="{{localUrl}}.js"></script>
  {{> head-tags}}
  <style>
    #menu { flex: 0 0 140px }

    #m-logo {
      width: 85px;
      height: 85px;
      background-color: #2B2B2B;
      border: 2px solid #8DBF28;
      color: #E9C063;
      font-family: Menlo, Monaco, monospace;
      font-size: 36px;
      cursor: default;
    }

    #m-logo span {
      top: 8px;
      left: 10px;
    }

    #menu-toggle {
      z-index: 11;
    }

    #home-messages { height: 150px }

    td p:first-of-type {
      margin-top: 0;
    }

    td p:last-of-type {
      margin-bottom: 0;
    }

    @media only screen and (max-width: 768px) {
      #Mweb-bg { display: none }
    }

    @media only screen and (max-width: 576px) {
      #menu-toggle { display: block }
      #home-logo-version { display: block }
      #home-intro { margin-top: 0 }
      #menu { display: none }
      #home-messages { height: 220px }
      #menu[open] {
        background-color: white;
        z-index: 10;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
      #benefits m-vbar { display: none }
      #benefits span {
        display: block;
        margin-top: var(--mw-space-xs);
      }
    }
  </style>
</head>
<body class="flex" style="height: 100%;">
<mw-icon id="menu-toggle" name="menu" class="hidden pos-absolute pad-md pointer txt-md"></mw-icon>
<aside id="menu" class="pad-md">
  <div>
    <div id="m-logo" aria-label="Mweb logo" class="mar-auto flex justify-content-center align-items-center fnt-bold brd-radius-full mar-b-xs">mw-</div>
    <small class="block mar-b-md txt-center txt-gray-6">{{version}}</small>
    <nav>
      <a href="/" class="block mar-b-xs">Home</a>
      <a href="https://github.com/jfbrennan/mw-" class="flex align-items-center mar-b-xs">GitHub</a>
      <hr class="mar-t-md mar-b-md">
      <h4 class="mar-t-0 mar-b-sm">Page Layout</h4>
      <a href="/head-tags" class="block mar-b-xs">Head Tags</a>
      <a href="/container" class="block mar-b-xs">Container</a>
      <a href="/grid" class="block mar-b-xs">Grid</a>
      <h4 class="mar-b-sm">Components</h4>
      <a href="/accordion" class="block mar-b-xs">Accordion</a>
      <a href="/alert" class="block mar-b-xs">Alert</a>
      <a href="/autocomplete" class="block mar-b-xs">Autocomplete</a>
      <a href="/badge" class="block mar-b-xs">Badge</a>
      <a href="/breadcrumb" class="block mar-b-xs">Breadcrumb</a>
      <a href="/button" class="block mar-b-xs">Button</a>
      <a href="/card" class="block mar-b-xs">Card</a>
      <a href="/checkbox" class="block mar-b-xs">Checkbox</a>
      <a href="/chip" class="block mar-b-xs">Chip</a>
      <a href="/details" class="block mar-b-xs">Details</a>
      <a href="/dialog" class="block mar-b-xs">Dialog</a>
      <a href="/divider" class="block mar-b-xs">Divider</a>
      <a href="/dot" class="block mar-b-xs">Dot</a>
      <a href="/fab" class="block mar-b-xs">FAB</a>
      <a href="/form" class="block mar-b-xs">Form</a>
      <a href="/icons" class="block mar-b-xs">Icons</a>
      <a href="/input" class="block mar-b-xs">Input</a>
      <a href="/link" class="block mar-b-xs">Link</a>
      <a href="/loader" class="block mar-b-xs">Loader</a>
      <a href="/menu" class="block mar-b-xs">Menu</a>
      <a href="/radio" class="block mar-b-xs">Radio</a>
      <a href="/range" class="block mar-b-xs">Range</a>
      <a href="/select" class="block mar-b-xs">Select</a>
      <a href="/switch" class="block mar-b-xs">Switch</a>
      <a href="/table" class="block mar-b-xs">Table</a>
      <a href="/tabs" class="block mar-b-xs">Tabs</a>
      <a href="/textarea" class="block mar-b-xs">Textarea</a>
      <h4 class="mar-b-sm">Typography</h4>
      <a href="/code" class="block mar-b-xs">Code</a>
      <a href="/lists" class="block mar-b-xs">Lists</a>
      <a href="/divider" class="block mar-b-xs">Divider</a>
      <a href="/text" class="block mar-b-xs">Text</a>
      <h4 class="mar-b-sm">Tokens</h4>
      <a href="/custom-properties" class="block mar-b-xs">Custom Properties</a>
      <hr class="mar-t-md mar-b-md">
      <small class="block txt-center">Copyright &copy; 2023<br>Jordan Brennan</small>
    </nav>
  </div>
</aside>
<main class="pad-md pad-b-lg flx-grow-1">
  {{{body}}}
</main>

<!-- Scripts below (order matters) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-html.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
<script src="/code-sample.riot" type="riot/tag"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.min.js"></script>
<script>
  riot.compile(() => {
    riot.mount('*');

    // Focus demo section code-sample
    const codeSample = document.body.querySelector('code-sample');
    codeSample?._tag?.setCursor();
  });
</script>
<script>
  // Menu toggle (for small screens)
  document.getElementById('menu-toggle').addEventListener('click', e => document.getElementById('menu').toggleAttribute('open'));
</script>
</body>
</html>